{% extends '_base.html' %}

{% load i18n %}

{% block title %}{% trans 'Fail' %}{% endblock title %}

{% block content %}

    <div class="container success-bottom">
        <div class="text-center">
            <h1 class="display-4 success-heading">
                <span class="red-text">{% trans 'Payment Failed' %}</span>
            </h1>
            <p class="dark-pink">
                {% blocktrans %}
                We apologize for the inconvenience, but it seems that there was an issue with processing your payment.
                <br>Please ensure that the payment information you provided is accurate and up to date.
                {% endblocktrans %}
            </p>

            <p class="dark-pink">{% now "SHORT_DATETIME_FORMAT" %}</p>

            <p class="mt--30">
                <a href="{% url 'cart:checkout' %}" class="btn btn-danger"><span style="font-weight: bold; ">{% trans 'Try Agian' %}</span></a>
            </p>
        </div>
    </div>


    <style>
        .red-text {
            color: #ff0000;
        }
        .dark-pink {
            font-weight: bold;
            color: #FF7F50;
        }
        .success-heading {
            font-weight: bold;
            margin-top: 70px;
            margin-bottom: 20px;
        }
         .success-bottom {
            margin-bottom: 70px;
        }

    </style>



{% endblock content %}
